@tailwind base;
@tailwind components;
@tailwind utilities;

.img-height{
    /* height: 1600px; */
    max-width: 100%;
}

.floating-btn{
    z-index: 10;
    left: 90%;
    /* top: -20px; */
    bottom: 19%;
}